// Mixin de display flex padrão
@mixin display-flex($direction, $justify, $align) {
    
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

}

// Mixin de height e width
@mixin box($altura, $largura) {
    
    height: $altura;
    width: $largura;

}