html {
    scroll-behavior: smooth;
}
  
:target {
    scroll-margin-top: 170px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    line-height: 1.5;
}

input:focus {
    border: 0.125rem solid $alaranjado;
}